.login {
  position: relative;
  padding-top: 140px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  color: var(--white);
}

.login .login-background {
  position: absolute;
  background-image: url(/public/images/Backgrounds/orderDetail.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100% + 60px);
  top: -60px;
  left: 0px;
}

.login .block {
  width: 49%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 50px;
}

.login .block .logo {
  display: flex;
  align-items: center;
}

.login .block .separator {
  margin: 20px 0px 40px;
  width: 100%;
  height: 1px;
  background: var(--white);
  opacity: 0.08;
}

.login .block > .text {
  margin-bottom: 40px;
}

.login .block .login-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.login .block .login-input .text {
  opacity: 0.75;
}

.login .block .login-input input {
  font-family: "Space Grotesk Light";
}

.login .block a {
  color: var(--white);
  margin-top: 10px;
}

.login .block .btn-container {
  margin-top: 80px;
  align-self: center;
  width: 270px;
}

.login .block .btn-container .button {
  width: 100%;
}

@media (max-width: 1439px) {
  .login .block {
    width: 60%;
  }
  .login .block .btn-container {
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .login .block .top .svgIcon {
    width: 70px !important;
    height: 70px !important;
  }
  .login {
    padding-top: 100px;
  }
  .login .block {
    width: 72.5%;
  }
  .login .block .btn-container {
    margin-top: 60px;
  }
  .login .block > .text {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

@media (max-width: 834px) {
  .login {
    padding-top: 70px;
    padding-bottom: 115px;
  }
  .login .block {
    width: 87.5%;
    padding: 15px 20px 50px;
  }
  .login .block .logo .svgIcon {
    width: 38px !important;
    height: 38px !important;
  }
  .login .block > .text {
    margin-bottom: 20px;
    font-size: 34px;
  }
  .login .block .separator {
    margin: 15px 0px 30px;
  }
  .login .block .btn-container {
    margin-top: 50px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .login {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .login .block {
    width: 100%;
  }
  .login .block .btn-container {
    font-size: 34px;
    margin-top: 40px;
  }
  .login .block a .text {
    font-size: 14px;
  }
}
