.download-video {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.download-video > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 42%;
}

.download-video .image {
  width: 100%;
}

.download-video .example-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 39%;
}

.download-video .example-container .tools-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.download-video .example-container .tools-container .example-image {
  min-height: 275px;
  width: 100%;
  flex-grow: 1;
  background: #d9d9d9;
}

.download-video .example-container .tools-container .buttons-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 1439px) {
  .download-video {
    gap: 30px;
  }
}

@media (max-width: 834px) {
  .download-video {
    flex-direction: column;
  }
  .download-video .example-container,
  .download-video > div:first-child {
    width: 100%;
  }
  .download-video .example-container .example-image > div,
  .download-video .example-container .buttons-container,
  .download-video .example-container .sizes,
  .download-video .image {
    align-self: center;
    width: 80%;
  }
  .download-video .example-container .tools-container .buttons-container {
    flex-direction: column-reverse;
  }
  .download-video .example-container .tools-container {
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .download-video .example-container .example-image > div,
  .download-video .example-container .buttons-container,
  .download-video .example-container .sizes,
  .download-video .image {
    width: 100%;
  }
}

@media (max-width: 425px) {
}
