.table.table-variant-payment {
  margin: 0px 20px;
}

.table.table-variant-payment .table-row-content {
  display: flex;
}

.table.table-variant-payment .table-header .table-column-cell-1,
.table.table-variant-payment .table-separators .table-column-cell-1,
.table.table-variant-payment .table-row-content .table-row-cell-1 {
  width: 15.5%;
}

.table.table-variant-payment .table-header .table-column-cell-2,
.table.table-variant-payment .table-separators .table-column-cell-2,
.table.table-variant-payment .table-row-content .table-row-cell-2 {
  width: 21.3%;
}

.table.table-variant-payment .table-header .table-column-cell-3,
.table.table-variant-payment .table-separators .table-column-cell-3,
.table.table-variant-payment .table-row-content .table-row-cell-3 {
  width: 29.1%;
}

.table.table-variant-payment .table-header .table-column-cell-4,
.table.table-variant-payment .table-separators .table-column-cell-4,
.table.table-variant-payment .table-row-content .table-row-cell-4 {
  width: 19.4%;
}

.table.table-variant-payment .table-header .table-column-cell-5,
.table.table-variant-payment .table-separators .table-column-cell-5,
.table.table-variant-payment .table-row-content .table-row-cell-5 {
  width: 14.7%;
}

.table.table-variant-payment .table-row-content .table-row-cell-5 {
  padding: 8px 10px;
}

.table.table-variant-payment .table-small-row-content .table-row-cell-4 .text,
.table.table-variant-payment .table-row-content .table-row-cell-4 .text {
  color: var(--yellow) !important;
}

@media (max-width: 1024px) {
  .table.table-variant-payment {
    margin: 0px;
  }

  .table.table-variant-payment .table-content .table-row .table-row-content,
  .table.table-variant-payment .table-header,
  .table.table-variant-payment .table-separators {
    display: none;
  }

  .table.table-variant-payment
    .table-content
    .table-row
    .table-small-row-content {
    display: flex;
    height: 255px;
  }

  .table.table-variant-payment
    .table-content
    .table-row
    .table-small-row-content
    > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .table.table-variant-payment .table-small-header {
    padding: 0px 15px 0px 30px;
    width: 44%;
  }

  .table.table-variant-payment .table-small-row {
    padding: 0px 15px 0px 20px;
    width: 56%;
  }

  .table.table-variant-payment .table-small-row-content .text {
    font-size: 14px;
    line-height: 20px;
  }

  .table.table-variant-payment .table-hr {
    position: absolute;
    width: 1px;
    height: 99%;
    margin: 0px;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    left: 44%;
  }

  .table.table-variant-payment .table-small-header > *,
  .table.table-variant-payment .table-small-row > * {
    height: 20%;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 834px) {
  .table.table-variant-payment {
    margin: 0px 20px;
  }

  .table.table-variant-payment
    .table-content
    .table-row
    .table-small-row-content,
  .table.table-variant-payment .table-row .table-row-cell-1 .cell-1-separator {
    display: none;
  }

  .table.table-variant-payment .table-content .table-row .table-row-content,
  .table.table-variant-payment .table-header,
  .table.table-variant-payment .table-separators {
    width: 100%;
    display: flex;
  }

  .table.table-variant-payment .table-hr {
    position: unset;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }

  .table.table-variant-payment .table-row [class*="table-row-cell"] {
    padding: 15px 10px;
  }
  .table.table-variant-payment .table-header [class*="table-column-cell"] {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 750px) {
  .table.table-variant-payment {
    margin: 0px;
  }
  .table.table-variant-payment .table-content .table-row .table-row-content,
  .table.table-variant-payment .table-header,
  .table.table-variant-payment .table-separators {
    display: none;
  }

  .table.table-variant-payment
    .table-content
    .table-row
    .table-small-row-content {
    display: flex;
    height: 255px;
  }

  .table.table-variant-payment
    .table-content
    .table-row
    .table-small-row-content
    > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .table.table-variant-payment .table-small-header {
    padding: 0px 15px 0px 30px;
    width: 44%;
  }

  .table.table-variant-payment .table-small-row {
    padding: 0px 15px 0px 20px;
    width: 56%;
  }

  .table.table-variant-payment .table-small-row-content .text {
    font-size: 14px;
    line-height: 20px;
  }

  .table.table-variant-payment .table-hr {
    position: absolute;
    width: 1px;
    height: 99%;
    margin: 0px;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    left: 44%;
  }

  .table.table-variant-payment .table-small-header > *,
  .table.table-variant-payment .table-small-row > * {
    height: 20%;
    display: flex;
    align-items: center;
  }
}
