:root {
  /* Pure Color */
  --white: #ffffff;
  --light-blue: #c5ebff;
  --light-blue-15: #c5ebff26;
  --gray-text: #9aa6b7;
  --gray: #999999;
  --footer-text: #686e73;
  --elements: #2f2f2f;
  --blocks: #252627;
  --menu: #101314;
  --background: #080707;
  --black: #000000;
  --blue-light: #1c76ff;
  --blue: #005ae2;
  --blue-dark: #0043a9;
  --yellow-light: #ffd234;
  --yellow: #ffb60e;
  --yellow-dark: #ff9900;

  /* Gradients */
  --gradient-border: radial-gradient(
    152.28% 83.14% at 0 -0%,
    #61686d 0%,
    #243038 100%
  );

  --gradient-green-yellow-light: radial-gradient(
    167.52% 820.83% at -36.22% 213.33%,
    #ffffff 0%,
    #b4fff1 47.4%,
    #ffd912 97.92%
  );
  --gradient-green-yellow: radial-gradient(
    167.52% 820.83% at -36.22% 213.33%,
    #ffffff 0%,
    #85f7e2 47.4%,
    #ffb60e 100%
  );
  --gradient-green-yellow-dark: radial-gradient(
    143.13% 701.68% at -36.22% 213.33%,
    #ffffff 0%,
    #64e3cc 47.4%,
    #ffbb0e 97.92%
  );
  --gradient-blue: radial-gradient(
    695% 695% at 50% -485%,
    #005ae2 0%,
    rgba(58, 67, 81, 0) 100%
  );
  --gradient-yellow: radial-gradient(
    221.67% 295.56% at 50% -178.89%,
    #ffb60e 0%,
    rgba(255, 182, 14, 0) 100%
  );
  --gradient-account-card-hover: radial-gradient(
      174.8% 156.07% at 50.4% 148.93%,
      #03d1a0 0%,
      rgba(121, 57, 216, 0) 100%
    ),
    radial-gradient(
      138.11% 122.86% at 100% -22.86%,
      #286b7f 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    rgba(217, 217, 217, 0.01);
  --gradient-account-card: radial-gradient(
      129.6% 115.71% at 107.2% -23.57%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(217, 217, 217, 0.01);
  --gradient-separator: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 51.04%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Status */
  --status-gradient-red: linear-gradient(
    180deg,
    #ca0000 0%,
    rgba(255, 53, 53, 0.05) 100%
  );
  --status-red: rgba(202, 0, 0, 0.7);
  --status-gradient-blue: linear-gradient(
    180deg,
    #007aeb 0%,
    rgba(30, 146, 255, 0.05) 100%
  );
  --status-blue: rgba(0, 122, 235, 0.7);
  --status-gradient-violet: linear-gradient(
    180deg,
    #dd00f0 0%,
    rgba(244, 115, 255, 0.05) 100%
  );
  --status-violet: rgba(221, 0, 240, 0.7);
  --status-gradient-orange: linear-gradient(
    180deg,
    #ee8f00 0%,
    rgba(255, 174, 53, 0.05) 100%
  );
  --status-orange: rgba(238, 143, 0, 0.7);
  --status-gradient-yellow: linear-gradient(
    180deg,
    #fff500 0%,
    rgba(255, 247, 53, 0.05) 100%
  );
  --status-yellow: rgba(255, 245, 0, 0.7);
  --status-gradient-green: linear-gradient(
    180deg,
    #1dcf00 0%,
    rgba(106, 255, 53, 0.05) 100%
  );
  --status-green: rgba(29, 207, 0, 0.7);
}
