@import "../components/Text/Text.module.css";
@import "../components/SvgIcon/SvgIcon.module.css";
@import "../components/Button/Button.module.css";
@import "../components/Avatar/Avatar.module.css";
@import "../components/AvatarDashboard/AvatarDashboard.module.css";
@import "../components/Radio/Radio.module.css";
@import "../components/Number/Number.module.css";
@import "../components/Cards/Cards.module.css";
@import "../components/Tooltip/Tooltip.module.css";
@import "../components/CircleProgress/CircleProgress.module.css";
@import "../components/ProgressGradient/ProgressGradient.module.css";
@import "../components/Accordion/Accordion.module.css";
@import "../components/DropDown/DropDown.module.css";
@import "../components/Select/Select.module.css";
@import "../components/SelectOption/SelectOption.module.css";
@import "../components/Menu/MainMenu/MainMenu.module.css";
@import "../components/Menu/ProfileMenu/ProfileMenu.module.css";
@import "../components/Menu/SidebarMenu/SidebarMenu.module.css";
@import "../components/Tools/Tools.module.css";
@import "../components/SocialeNetworks/SocialeNetworks.module.css";
@import "../components/Slider/Slider.module.css";
@import "../components/Footer/Footer.module.css";
@import "../components/Modal/Modal.module.css";
@import "../components/Table/Table.module.css";
@import "../components/Input/Input.module.css";
@import "../components/Currency/Currency.module.css";
@import "../components/Filter/Filter.module.css";
@import "../components/Status/Status.module.css";
@import "../components/ServiceList/ServiceList.module.css";
@import "../components/HowItWorks/HowItWorks.module.css";

@import "./App.css";
@import "./normalize.css";

@import "../pages/Home/Home.module.css";
@import "../pages/FAQ/FAQ.module.css";
@import "../pages/About/About.module.css";
@import "../pages/Dashboard/Dashboard.module.css";
@import "../pages/RedeemHistory/RedeemHistory.module.css";
@import "../pages/RedeemSupport/RedeemSupport.module.css";
@import "../pages/Account/Account.module.css";
@import "../pages/Api/Api.module.css";
@import "../pages/Subscriptions/Subscriptions.module.css";
@import "../pages/Orders/Orders.module.css";
@import "../pages/AllServices/AllServices.module.css";
@import "../pages/MassOrder/MassOrder.module.css";
:root {
  --transition-property: all;
  --transition-time: 0.4s;
  --transition-function: ease;

  color-scheme: light only;
}

#root {
  min-height: 100%;
}

html {
  background: var(--background);
  min-height: 590px;
  transition: var(--transition-property) 0s var(--transition-function);
  min-width: 280px;
  height: 100%;
}

* {
  box-sizing: border-box;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

body {
  height: 100%;
  overflow-x: hidden;
  background: var(--background);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Space Grotesk Bold";
  src: url(../fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
  font-family: "Space Grotesk Medium";
  src: url(../fonts/SpaceGrotesk-Medium.ttf);
}

@font-face {
  font-family: "Space Grotesk Regular";
  src: url(../fonts/SpaceGrotesk-Regular.ttf);
}

@font-face {
  font-family: "Space Grotesk Light";
  src: url(../fonts/SpaceGrotesk-Light.ttf);
}

@font-face {
  font-family: "Circe ExtraBold";
  src: url(../fonts/Circe-ExtraBold.otf);
}

@font-face {
  font-family: "Circe Bold";
  src: url(../fonts/Circe-Bold.otf);
}

@font-face {
  font-family: "Circe Medium";
  src: url(../fonts/Circe-Regular.ttf);
}

@font-face {
  font-family: "Circe Light";
  src: url(../fonts/Circe-Light.ttf);
}

@font-face {
  font-family: "Roboto Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}
