.topic {
  background-image: url("../../../public/images/Backgrounds/Topic\ Background.png");
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.topic .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.topic .info {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 160px;
  color: var(--white);
  height: fit-content;
}

.topic .info .likes {
  font-family: "Circe ExtraBold";
  font-weight: 800;
  font-size: 106px;
  line-height: 100px;
  background: var(--gradient-green-yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 44px;
}

.topic .info .naizop {
  font-family: "Circe Bold";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.04em;
  margin-bottom: 9px;
}

.topic .info .description {
  font-family: "Space Grotesk Light";
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 37px;
}

.topic .info .description span:first-child {
  font-family: "Space Grotesk Bold";
  font-weight: 400;
}

.topic .info .description span:last-child {
  font-family: "Space Grotesk Bold";
  font-weight: 700;
  color: var(--yellow);
}

.topic .images {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.topic .images .like-img {
  width: 125%;
}

.topic .images .like-img img {
  width: 100%;
}

.topic .info .button .text {
  color: #070b20;
  font-family: "Space Grotesk Medium";
}

.light-img {
  width: 100%;
  background: #080707bf;
  height: 140px;
  backdrop-filter: blur(40px);
  margin-top: -100px;
}

.sociale-network-background {
  top: 230px;
  left: 0px;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 1200px;
  background-image: url("/public/images/Backgrounds/Sociale\ Networks.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 25%;
  filter: blur(40px);
}

.home.advantages-container {
  user-select: none;
  overflow-x: scroll;
  margin-bottom: 170px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home.advantages-container::-webkit-scrollbar {
  display: none;
}
.home.advantages-container::-webkit-scrollbar-thumb {
  display: none;
}

.experience-container {
  user-select: none;
  padding-top: 145px;
  padding-bottom: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.experience-container::-webkit-scrollbar {
  display: none;
}
.experience-container::-webkit-scrollbar-thumb {
  display: none;
}

.experience-container > div:last-child {
  color: var(--white);
}

.experience {
  width: fit-content;
  display: flex;
  left: 0px;
  bottom: 85px;
  position: absolute;
  background: radial-gradient(
    100% 100% at 40% 50%,
    rgba(8, 7, 7, 1) 10%,
    rgb(0 0 0 / 0%) 55%
  );
}

.experience .info {
  width: 690px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.experience .info .naizop {
  font-family: "Circe Bold";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.04em;
}

.experience .info .description {
  font-family: "Space Grotesk Light";
  font-weight: 300;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 37px;
}

.experience .info .description span:first-child {
  font-family: "Space Grotesk Bold";
  font-weight: 400;
}

.experience .info .description span:last-child {
  font-family: "Space Grotesk Bold";
  font-weight: 700;
  color: var(--yellow);
}

.experience .info .button .text {
  font-family: "Space Grotesk Medium";
}

.experience-images {
  width: 100%;
  top: 110px;
}

.experience-images.active img {
  animation: experience-animation 8s ease-in-out 0s 1 normal forwards;
}

.experience-images img {
  width: 1380px;
}

.experience-images img:first-child {
  pointer-events: none;
  margin-left: 280px;
}

.experience-images img:last-child {
  pointer-events: none;
  margin-top: -85px;
  margin-left: 860px;
}

.experience-background {
  top: 0px;
  left: 0px;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 1200px;
  background-image: url("/public/images/Backgrounds/Experience\ Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 25%;
  filter: blur(40px);
}

@keyframes experience-animation {
  to {
    margin-left: -45px;
  }
}

@media (max-width: 1439px) {
  .topic .info {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  .topic .images {
    width: 100%;
  }

  .topic .info .likes {
    font-size: 96px;
    line-height: 92.5px;
    margin-bottom: 40.5px;
  }

  .home.advantages-container {
    justify-content: left;
    padding-left: 7.75%;
    padding-right: 7.75%;
  }

  .experience-container {
    padding-bottom: 180px;
  }

  .experience .info {
    width: 610px;
  }

  .experience .info .description {
    font-size: 31.5px;
    line-height: 41px;
  }

  .experience-images img {
    width: 1140px;
  }

  .experience-images img:first-child {
    margin-left: 217.5px;
  }

  .experience-images img:last-child {
    margin-left: 700px;
    margin-top: -65px;
  }

  @keyframes experience-animation {
    to {
      margin-left: -35px;
    }
  }
}

@media (max-width: 1024px) {
  .topic .container {
    flex-direction: column;
  }

  .topic .images .like-img {
    width: 100%;
  }

  .topic .images .like-img img {
    margin-top: -130px;
  }

  .topic .info {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 100px;
  }

  .topic .info .likes {
    font-size: 86px;
    line-height: 85px;
    margin-bottom: 37px;
  }

  .topic .info .naizop {
    font-size: 38px;
  }

  .topic .info .description {
    line-height: 32.5px;
    margin-bottom: 31px;
  }

  .home.advantages-container {
    margin-bottom: 145px;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .sociale-network-background {
    background-repeat: repeat;
    background-size: cover;
  }

  .experience .info {
    width: 580px;
  }

  .experience-background {
    background-size: inherit;
    height: 1085px;
    background-position-x: center;
  }

  .experience-images {
    top: 100px;
  }

  .experience-container {
    padding-bottom: 240px;
  }

  .experience .info .naizop {
    font-size: 38px;
  }

  .experience .info .description {
    font-size: 27px;
    line-height: 37.5px;
  }

  .experience-images img {
    width: 900px;
  }

  .experience-images img:first-child {
    margin-left: 155px;
  }

  .experience-images img:last-child {
    margin-left: 540px;
    margin-top: -50px;
  }

  @keyframes experience-animation {
    to {
      margin-left: -25px;
    }
  }
}

@media (max-width: 834px) {
  .topic .info {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .topic .images .like-img img {
    margin-top: -75px;
  }

  .topic .info .likes {
    font-size: 76px;
    line-height: 77.5px;
    margin-bottom: 33.5px;
  }

  .light-img {
    height: 130px;
    margin-top: -75px;
  }

  .home.advantages-container {
    padding-left: 5.25%;
    padding-left: 5.25%;
  }

  .experience {
    background: radial-gradient(
      100% 100% at 20% 50%,
      rgba(8, 7, 7, 1) 0%,
      rgb(0 0 0 / 0%) 40%
    );
  }
  .experience-container {
    padding-bottom: 325px;
  }

  .experience .info {
    width: 100%;
  }

  .experience .info .description {
    font-size: 22.5px;
    line-height: 34px;
  }

  .experience-images img {
    width: 100%;
  }

  .experience-images img:first-child {
    margin-left: 92.5px;
  }

  .experience-images img:last-child {
    margin-left: 380px;
    margin-top: -35px;
  }

  @keyframes experience-animation {
    to {
      margin-left: -15px;
    }
  }
}

@media (max-width: 425px) {
  .topic .info {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .topic .images .like-img img {
    margin-top: -20px;
  }

  .topic .info .likes {
    font-size: 66px;
    line-height: 70px;
    margin-bottom: 30px;
  }

  .topic .info .naizop {
    font-size: 36px;
  }

  .topic .info .description {
    line-height: 30px;
    margin-bottom: 25px;
  }

  .light-img {
    height: 120px;
    margin-top: -50px;
  }

  .home.advantages-container {
    margin-bottom: 120px;
    padding-left: 28px;
    padding-right: 28px;
  }

  .experience-images {
    top: 90px;
  }

  .experience-container {
    padding-bottom: 360px;
    padding-top: 120px;
  }

  .experience .info .naizop {
    font-size: 36px;
  }

  .experience .info .description {
    font-size: 18px;
    line-height: 30px;
  }

  .experience-images img:first-child {
    margin-left: 30px;
  }

  .experience-images img:last-child {
    margin-left: 220px;
    margin-top: -20px;
  }

  @keyframes experience-animation {
    to {
      margin-left: -5px;
    }
  }
}
