.sidebar-container {
  height: 100%;
  top: 90px;
  position: sticky;
}

.sidebar-overflow {
  height: fit-content;
  overflow: auto;
}

.sidebar-overflow::-webkit-scrollbar {
  display: none;
}

.sidebar-overflow::-webkit-scrollbar-thumb {
  display: none;
}

.sidebarMenu {
  background: var(--menu);
  width: 250px;
  border-radius: 0px 0px 10px 10px;
  background: radial-gradient(
      240.8% 68.41% at -61% -16.08%,
      rgba(135, 144, 153, 0.2) 0%,
      rgba(135, 144, 153, 0) 100%
    )
    rgba(16, 19, 20, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 79px;
}

.sidebarMenu .links {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.sidebarMenu .dropDown {
  border-radius: 0px;
  padding: 0;
  backdrop-filter: none;
  overflow-y: hidden;
}

.sidebarMenu .more {
  color: var(--white);
  stroke: var(--white);
  padding: 0px 32px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebarMenu .crypto {
  padding: 0px 20px;
}

.sidebarMenu .crypto .button_variant_crypto {
  min-width: 180px;
}

.sidebarMenu hr {
  margin: 0;
  width: 100%;
  border: none;
  height: 1px;
  background: var(--white);
  opacity: 8%;
}

.sidebarMenu .sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0px;
}

.sidebarMenu .dropDown .sidebar-items {
  padding: 0px 20px;
}

.sidebarMenu .sidebar-items .sidebar-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.sidebarMenu .sidebar-items .sidebar-item .item-contant {
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  align-items: center;
  color: var(--white);
}

.sidebarMenu .sidebar-items .sidebar-item .number {
  color: var(--black);
  font-size: 14px;
  line-height: 20px;
}

.sidebarMenu .sidebar-items .sidebar-item.active .item-contant {
  background: linear-gradient(0deg, #005ae2, #005ae2), #548cf5;
}

.sidebarMenu .sidebar-items .sidebar-item .item-contant > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebarMenu .sidebar-items.buttons {
  gap: 10px;
  margin-top: 10px;
}

.sidebarMenu .sidebar-items .sidebar-item .stroke path {
  stroke: var(--white);
}

.purchase-modal .modal-container {
  width: 550px;
}

.purchase-modal .modal-container .modal-content {
  padding: 25px 25px 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.purchase-modal .modal-container .modal-content .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.purchase-modal .modal-container .modal-content .info > .text:first-child {
  color: var(--yellow);
}

.purchase-modal .modal-container .modal-content .methods {
  display: flex;
  gap: 20px;
}

.purchase-modal .modal-container .modal-content .methods > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: var(--white);
  border-radius: 10px;
}

@media (max-width: 1439px) {
  .sidebarMenu {
    width: 225px;
  }
  .sidebarMenu .more {
    padding: 0px 32px 15px;
  }

  .sidebarMenu .crypto .button_variant_crypto .text {
    font-size: 15px;
  }
}

@media (max-width: 1200px) {
  .sidebar-container {
    display: none;
  }
}
