.support {
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
  color: var(--white);
}

.support > .text {
  margin-bottom: 30px;
  margin-top: 30px;
}

.support .support-content {
  padding: 25px 25px 40px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.support .support-table {
  padding: 20px 20px 0px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.support .support-content > div:not(.table) {
  display: flex;
  gap: 20px;
}

.support .support-content .chunk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 40%;
  gap: 20px;
}

.support .support-content .chunk:last-child {
  gap: 45px;
}

.support .support-content .chunk .support-input {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.support .support-content .chunk .support-input:nth-child(0n + 1) {
  z-index: 3;
}

.support .support-content .chunk .support-input:nth-child(2) {
  z-index: 2;
}

.support .support-content .chunk .message {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.support .support-content .chunk .message .input {
  height: 100%;
}

.support .support-content .chunk .text.text_variant_h3 {
  opacity: 0.75;
  margin-bottom: 10px;
}

.support .support-content .text.text_variant_h5_regular {
  opacity: 0.5;
  margin-left: 15px;
}

@media (max-width: 834px) {
  .support .block {
    border-radius: 18px;
  }
  .support .support-content > div:not(.table) {
    flex-direction: column;
  }
  .support .support-content {
    flex-direction: column;
    padding: 20px 20px 50px;
    gap: 30px;
  }
  .support .support-content .chunk {
    width: 100%;
  }
  .support .support-content .chunk .message {
    height: 305px;
  }
}
