.vip-rewards {
  display: flex;
  flex-direction: column;
}

.vip-rewards .text.text_variant_h1_medium {
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--white);
}

.vip-rewards .avatar-vip-rewards {
  display: flex;
  padding: 10px 20px 30px 50px;
}

.vip-rewards .info-container {
  display: flex;
}

.vip-rewards .block.profile {
  color: var(--white);
  width: 100%;
  display: flex;

  background: linear-gradient(
      0deg,
      rgba(217, 217, 217, 0.01),
      rgba(217, 217, 217, 0.01)
    ),
    radial-gradient(
      46.28% 87.14% at 15.8% -10.14%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.02) 100%
    ),
    radial-gradient(
      129.6% 115.71% at 107.2% -23.57%,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0) 100%
    );

  justify-content: space-between;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.vip-rewards .block.profile > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vip-rewards .block.profile .info {
  display: flex;
  flex-grow: 1;
  padding: 10px 20px 30px;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}

.vip-rewards .block.profile .info .separator {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 53.13%,
    rgba(255, 255, 255, 0) 100%
  );
}

.vip-rewards .block.profile .redeem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 50px 30px 20px;
  gap: 15px;
}

.vip-rewards .block.profile .redeem a {
  color: var(--white);
}

.vip-rewards .block.profile .redeem .button {
  padding: 10px 30px;
}

.vip-rewards .block.profile .info .categories {
  display: flex;
}

.vip-rewards .block.profile .info .categories > *,
.vip-rewards .block.profile .info .category-info > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.vip-rewards .block.profile .info .category-info {
  display: flex;

  color: var(--yellow);
}

.vip-rewards .block.profile .info .category-info .rank {
  color: var(--white);
  opacity: 0.5;
}

.vip-rewards .block.profile .info hr {
  margin: 0px;
  border: none;
  width: 1px;
  height: 100%;
  background: var(--light-blue-15);
}

.vip-rewards .block.progress {
  padding: 25px 50px;
  display: flex;
  align-items: flex-end;
  color: var(--white);
  gap: 30px;
}

.vip-rewards .block.progress .button {
  min-width: 160px;
}

.vip-rewards .block.progress .percent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
}

.vip-rewards .block.progress .percent .rank-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vip-rewards .block.progress .percent .rank-info > .text {
  opacity: 0.5;
}

.vip-rewards .block.progress .percent .rank-info img {
  width: 30px;
  height: 30px;
}

.vip-rewards .block.progress .percent .rank-info .rank {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vip-rewards .cards-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.vip-rewards .cards-container:last-child {
  margin-top: 30px;
  margin-bottom: 120px;
}

.vip-rewards .cards-container .title {
  color: var(--white);
  margin-bottom: 15px;
}

.vip-rewards .cards-container .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  row-gap: 20px;
}

.vip-rewards .cards-container hr {
  margin: 30px 0px 20px 0px;
  border: none;
  height: 1px;
  width: 100%;
  background: var(--light-blue-15);
}

@media (max-width: 1439px) {
  .vip-rewards .avatar-vip-rewards {
    padding: 20px 20px 20px 0px;
  }
  .vip-rewards .block.profile .info {
    padding: 20px 30px;
    gap: 10px;
  }
  .vip-rewards .block.profile .info .text.text_variant_h2_medium {
    font-size: 18px;
    line-height: 25px;
  }
  .vip-rewards .block.profile .redeem {
    padding: 20px 10px 20px 0px;
  }
  .vip-rewards .cards-container .cards {
    gap: 15px;
    row-gap: 15px;
  }
}

@media (max-width: 1024px) {
  .vip-rewards .info-container {
    flex-direction: column;
  }
  .vip-rewards .avatar-vip-rewards {
    padding: 20px 0px;
    justify-content: center;
  }
  .vip-rewards .cards-container .cards {
    gap: 10px;
    row-gap: 10px;
  }
}

@media (max-width: 834px) {
  .vip-rewards .avatar-vip-rewards {
    padding: 0px 0px 30px 0px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .vip-rewards .block.profile {
    flex-direction: column;
  }
  .vip-rewards .block.profile .info,
  .vip-rewards .block.profile .redeem {
    width: 100%;
    justify-content: space-evenly;
  }
  .vip-rewards .block.profile .info {
    padding: 50px 20px 20px 20px;
    gap: 20px;
  }
  .vip-rewards .block.profile .redeem {
    padding: 20px 0px 30px 0px;
  }
}

@media (max-width: 425px) {
  .vip-rewards .info-container {
    align-items: center;
  }
  .vip-rewards .avatar-vip-rewards {
    width: 150px;
  }
  .vip-rewards .cards-container {
    padding: 25px 20px 35px;
  }
  .vip-rewards .cards-container .cards {
    gap: 15px;
  }
  .vip-rewards .block.profile .info {
    padding: 50px 20px 20px 20px;
    justify-content: space-between;
  }
  .vip-rewards .block.profile .redeem {
    padding: 20px 20px 30px;
  }
  .vip-rewards .block.profile .redeem > div,
  .vip-rewards .block.profile .redeem .button {
    width: 100%;
  }
  .vip-rewards .block.profile .info .text.text_variant_h5 {
    font-size: 14px;
    line-height: 20px;
  }

  .vip-rewards .block.profile .info .text.text.text_variant_h2_medium {
    font-size: 20px;
    line-height: 25px;
  }
}
