.howItWorks {
  color: var(--white);
  background: var(--gradient-yellow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
}

.howItWorks > .text {
  padding-right: 10px;
}

.howItWorks .btn-container {
  margin: 15px 0px;
}

@media (max-width: 834px) {
  .howItWorks {
    display: none;
  }
}

@media (max-width: 425px) {
  /* .howItWorks {
    flex-direction: column;
  }

  .howItWorks > .text {
    padding-right: 0px;
    padding-top: 20px;
  } */
}
