.howItWorks {
  color: var(--white);
  background: var(--gradient-yellow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  justify-content: space-between;
}

.howItWorks > .text {
  padding-right: 10px;
}

.howItWorks .btn-container {
  min-width: fit-content;
}

@media (max-width: 1024px) {
}

@media (max-width: 834px) {
}

@media (max-width: 425px) {
  .howItWorks {
    padding: 20px 20px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .howItWorks .btn-container {
    width: 100%;
  }
  .howItWorks .btn-container .button {
    width: 100%;
  }
}
