.avatarDashboard {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarDashboard .text:last-child {
  color: var(--white);
  opacity: 0.5;
}

.avatarDashboard .avatar-container {
  position: absolute;
  top: 9%;
  left: 9%;
  bottom: 9%;
  right: 9%;
  width: 82%;
}

.avatarDashboard .avatar {
  width: 100%;
  height: 100%;
}

.avatar_shadow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 9%;
  left: 9%;
  bottom: 9%;
  right: 9%;
  border-radius: 50%;
  background: linear-gradient(
    180.24deg,
    rgba(30, 33, 36, 0) 27.37%,
    #1e2124 99.79%
  );
}

.avatar_shadow .text {
  opacity: 1 !important;
  margin-bottom: 10px;
}
