.container .download-link {
  padding: 50px 30px 0px;
}

.download-link {
  position: relative;
  display: flex;
  padding: 50px 20px 0px;
  gap: 30px;
}

.download-link .trustpilot-logo {
  position: unset;
}

.download-link .example {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 5px;
  justify-content: flex-end;
}
.download-link .example > .text {
  color: #9aa6b7;
}

.download-link .example .download {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 3px;
}

.download-link .example .download > div:first-child {
  flex-grow: 1;
}

.download-link .example .download > div:first-child > .text {
  display: none;
  color: #9aa6b7;
}

.download-link .example .download .input {
  background: unset;
  border-bottom: 1px solid var(--white);
  border-radius: 0px;
  border-top: unset;
  border-left: unset;
  border-right: unset;
}

.download-link .example .download .input input {
  padding: 0px 0px 20px;
  font-family: "Space Grotesk Light";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}

.download-link .example .download .button {
  max-width: 270px;
}

.download-link .example .download .button .text {
  font-size: 20px;
}

.download-link .trustpilot-container {
  display: none;
}

.download-link .trustpilot-container .separator {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 53.13%,
    rgba(255, 255, 255, 0) 100%
  );
}

.download-link .trustpilot {
  padding: 20px 0px;
  flex-direction: column;
  gap: 5px;
  display: flex;
}

.download-link .trustpilot .text {
  color: var(--white);
}

.download-link .trustpilot > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.download-link .trustpilot .trustpilot-reviews {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.download-link .trustpilot .trustpilot-reviews .text.text_variant_h4_regular {
  font-size: 16px;
  line-height: 26px;
}

.download-link
  .trustpilot
  .trustpilot-reviews
  .text.text_variant_h4_regular
  > .text {
  font-weight: 700;
}

.download-link .trustpilot .trustpilot-reviews > div .text {
  font-family: "Roboto Bold";
  font-size: 16px;
  line-height: 26px;
}

.download-link .trustpilot .trustpilot-reviews > div {
  display: flex;
  gap: 4px;
  align-items: center;
}

.download-link .trustpilot .trustpilot-stars {
  display: flex;
  gap: 2px;
}

.download-link .trustpilot .svgIcon path {
  stroke: transparent !important;
}

@media (max-width: 1439px) {
  .download-link .example .download .input input {
    padding: 0px 0px 15px;
  }
  .download-link .example .download .button {
    max-width: 180px;
  }
}

@media (max-width: 1024px) {
  .download-link .example .download {
    flex-direction: column;
    align-items: unset;
    margin-bottom: 0px;
    gap: 25px;
  }
  .download-link .example > .text {
    display: none;
  }
  .download-link .example .download > div:first-child > .text {
    display: inline-block;
  }
  .download-link .example .download .input input {
    padding: 0px 0px 10px;
    font-size: 18px;
  }
  .download-link .example .download .button .text {
    font-size: 18px;
  }
  .download-link .example .download .button {
    width: 100%;
    max-width: unset;
  }
}

@media (max-width: 834px) {
  .download-link {
    flex-direction: column;
  }
  .download-link .trustpilot-container {
    display: block;
  }
  .download-link .example .download {
    gap: 40px;
  }
  .download-link .example .download .input input {
    padding: 0px 0px 5px;
    font-size: 16px;
  }
  .container .download-link {
    padding: 40px 20px 0px;
  }
}

@media (max-width: 425px) {
  .download-link .example .download .input input {
    font-size: 13px;
  }
  .download-link .example .download .button .text {
    font-size: 16px;
  }
}
