.payment {
  margin-top: 30px;
  margin-bottom: 100px;
  color: var(--white);
}

.payment > .text {
  margin-bottom: 30px;
}

.payment .accordion-title-contant .svgIcon path {
  stroke: var(--white);
}

.payment .accordion-container .step .info,
.payment .payment-faq {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment .payment-faq > .text {
  margin-bottom: 5px;
}

.payment .accordion-container .steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment .accordion-container .step {
  display: flex;
  gap: 10px;
}

.payment .accordion-container .step .number {
  color: var(--black);
}

.payment .accordion-container .step .info > div > .text {
  display: inline;
}

.payment .accordion-container .video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 245px;
  width: 435px;
}

.payment .accordion-container .video img {
  width: 100%;
}

.payment .accordion-container .video .play {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12.5px);
}

.payment .payment-contant {
  display: flex;
  justify-content: space-between;
}

.payment .payment-contant .block.select-payment .payment-tools {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment .payment-contant .block.select-payment .amount,
.payment .payment-contant .block.select-payment .input-payment {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.payment .payment-contant .block.select-payment .with-button {
  display: flex;
  gap: 10px;
  align-items: center;
}

.payment .payment-contant .block.select-payment .with-button .button {
  min-width: 120px;
}

.payment .payment-contant .block.download,
.payment .payment-contant .block.select-payment {
  width: 100%;
}

.payment .payment-contant .select-payment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 49%;
}

.payment .payment-contant .block {
  padding: 25px 25px 30px;
  width: 49%;
  height: fit-content;
}

.payment .payment-contant .block.select-payment {
  position: relative;
}

.payment .payment-contant .block.select-payment .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment .payment-contant .block.select-payment .top .tips {
  padding: 5px 21px;
  background: var(--gradient-yellow);
  border-radius: 10px;
}

.payment .payment-contant .block.select-payment hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--light-blue-15);
}

.payment .payment-contant .block.select-payment .method {
  margin-top: 22px;
}

.payment .payment-contant .block.select-payment .method .card-select {
  flex-direction: row;
  gap: 10px;
}

.payment
  .payment-contant
  .block.select-payment
  .method
  .card-select
  .card-select-item {
  flex-direction: column;
  text-align: center;
  padding: 15px 0px 5px;
  gap: 5px;
  flex: 1;
}
.payment
  .payment-contant
  .block.select-payment
  .method
  .card-select
  .card-select-item
  > * {
  opacity: 1;
}

.modal .modal-content .amount .input,
.payment .payment-contant .block.select-payment .amount .input {
  padding: 0px 15px;
  align-items: center;
}

.modal .modal-content .amount .input .text,
.payment .payment-contant .block.select-payment .amount .input .text {
  opacity: 0.5;
}

.modal .modal-content .amount .input input,
.payment .payment-contant .block.select-payment .amount .input input {
  padding: 15px;
  font-size: 20px;
  line-height: 30px;
  color: var(--yellow);
  min-width: 10px;
}

.payment .payment-contant .block.select-payment .proceed {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment .payment-contant .block.select-payment .proceed .btn-container {
  width: 100%;
}

.payment .payment-contant .block.select-payment .proceed > a {
  margin-top: 20px;
  color: var(--white);
}

.modal .modal-content .tip {
  padding: 20px;
}

.modal .modal-content .tip > div {
  margin-bottom: 20px;
}

.modal .modal-content .tip > div > .text {
  margin-bottom: 10px;
}

.modal .modal-content .tip > div.btn-container {
  margin-bottom: 35px;
  margin-top: 70px;
}

.modal .modal-content .tip-sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

.modal .modal-content .tip-sent .title {
  margin-top: 30px;
  margin-bottom: 40px;
}

.modal .modal-content .tip-sent .currency {
  width: 26px;
  height: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  margin-right: 10px;
  margin-left: 5px;
  border-radius: 50%;
  background: #2a462d;
}

@media (max-width: 1024px) {
  .payment .payment-contant {
    flex-direction: column;
    gap: 30px;
  }

  .payment .payment-contant .block {
    padding: 20px 20px 30px;
    width: 100%;
  }
  .payment .payment-contant .select-payment-container {
    width: 100%;
  }

  .payment
    .payment-contant
    .block.select-payment
    .method
    .card-select
    .card-select-item {
    padding: 15px 0px 15px;
  }
}

@media (max-width: 834px) {
  .payment .payment-contant .block.select-payment .proceed {
    margin-top: 30px;
  }

  .payment
    .payment-contant
    .block.select-payment
    .proceed
    .btn-container
    .text {
    font-size: 16px;
    line-height: 30px;
  }

  .payment .payment-contant .block.select-payment .method {
    margin-top: 12px;
  }

  .payment .payment-contant .block.select-payment .method .card-select {
    flex-direction: column;
  }
  .payment
    .payment-contant
    .block.select-payment
    .method
    .card-select
    .card-select-item {
    flex-direction: row;
    padding: 15px;
    justify-content: flex-start;
    gap: 10px;
  }

  .payment
    .payment-contant
    .block.select-payment
    .method
    .card-select
    .svgIcon {
    width: 24px !important;
    height: 24px !important;
  }

  .payment .payment-contant .block.select-payment .with-button {
    flex-direction: column;
    gap: 20px;
  }

  .payment .payment-contant .block.select-payment .with-button .btn-container {
    width: 100%;
  }

  .payment .payment-faq {
    padding: 0px !important;
    background: unset;
    border: unset;
  }

  .payment .payment-contant .block.select-payment .proceed > a {
    margin-top: 25px;
    font-size: 18px;
  }

  .payment .payment-contant .block.select-payment .proceed > .text:first-child {
    font-size: 14px;
    line-height: 20px;
  }

  .payment .payment-contant .block.select-payment .proceed > a > .text {
    font-size: 18px;
    line-height: 30px;
  }

  .modal .modal-content .amount .input input,
  .payment .payment-contant .block.select-payment .amount .input input {
    font-size: 18px;
    width: 140px;
  }
}
