.profile-container .services-title.text {
  color: var(--white);
}

.profile-container .services {
  margin-bottom: 100px;
}

.container .services-title.text {
  font-family: "Circe";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.profile-container .services-top {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.container .services-top {
  display: flex;
  flex-direction: column-reverse;
}

.container .services-top .text-with-button {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
}
.profile-container .services-top .text-with-button {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 35px;
}

.container .services-top .text-with-button .btn-container,
.profile-container .services-top .text-with-button .btn-container {
  width: 185px;
}

.profile-container .services-info-container {
  padding-bottom: 25px;
  margin-top: 20px;
}

.services-info-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 150px;
}

.container .services-info-container .accordion-container .dropDown,
.profile-container .services-info-container .accordion-container .dropDown {
  padding-left: 0px;
  padding-right: 0px;
}

.container
  .services-info-container
  .accordion-container
  .dropDown.dropDown-active,
.profile-container
  .services-info-container
  .accordion-container
  .dropDown.dropDown-active {
  padding: 70px 0px 0px 0px !important;
}

@media (max-width: 1439px) {
  .container .services-title.text {
    font-size: 42.5px;
  }
  .container .services-top .text-with-button {
    line-height: 52.5px;
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  .profile-container .services-top .text-with-button {
    margin-top: 40px;
  }

  .profile-container .services-top .filter {
    flex-direction: column;
  }

  .profile-container .services-top .filter .input {
    width: 100%;
  }

  .container .services-title.text {
    font-size: 35px;
    line-height: 45px;
  }

  .container .services-top .text-with-button {
    margin-top: 65px;
    margin-bottom: 30px;
  }

  .profile-container .services-info-container {
    flex-direction: column;
    row-gap: 10px;
  }

  .services-info-container {
    margin-top: 25px;
    padding-bottom: 135px;
  }
}

@media (max-width: 834px) {
  .profile-container .services {
    margin-bottom: 70px;
  }
  .container .services-title.text {
    font-size: 27.5px;
    line-height: 37.5px;
  }

  .container .services-top .text-with-button {
    margin-top: 50px;
  }

  .services-info-container {
    flex-direction: column;
    row-gap: 10px;
  }

  .container .services-top .text-with-button,
  .profile-container .services-top .text-with-button {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .services-top .filter .filter-controls {
    display: flex;
    justify-content: space-between;
  }
  .services-top .filter .filter-controls .btn-container {
    width: 39%;
  }
}

@media (max-width: 425px) {
  .profile-container .services-top .text-with-button {
    margin-top: 50px;
  }

  .container .services-top .text-with-button {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .services-info-container {
    margin-top: 50px;
    padding-bottom: 120px;
  }
}
