.profileMenu {
  top: 0;
  position: sticky;
  z-index: 10;
  max-height: 90px;
  background: var(--menu);
}

.profileMenu .dropDown {
  padding: 0;
  border-radius: 0px;
  backdrop-filter: none;
  overflow: hidden;
}

.profileMenu .nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileMenu .burger {
  overflow-y: auto;
  display: none;
}

.burger .nav-profile-container .nav-balance {
  width: 31.2%;
}

.burger .nav-burger-container {
  padding: 0px 40px;
}

.burger .nav-burger-container nav {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.burger .nav-burger-container > nav > .burger-menu-category {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.burger-menu-category > .category-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  stroke: var(--white);
  padding-left: 15px;
}

.burger-menu-category > .category-name .text {
  color: var(--white);
  font-size: 22px;
  line-height: 20px;
}

.burger-menu-category .burger-menu-items.first {
  margin-top: 10px;
}

.burger-menu-category .burger-menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.burger-menu-category .burger-menu-items.buttons {
  gap: 10px;
}

.burger-menu-category .burger-menu-items .burger-menu-item {
  display: flex;
  color: var(--white);
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.burger-menu-category .burger-menu-items .burger-menu-item .item-contant {
  padding: 10px 15px;
  display: flex;
  gap: 12px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.burger-menu-category
  .burger-menu-items
  .burger-menu-item
  .item-contant
  > div:not(.number) {
  display: flex;
  gap: 12px;
}

.burger-menu-category
  .burger-menu-items
  .burger-menu-item
  .item-contant
  .number {
  align-self: flex-end;
}
.burger-menu-category .burger-menu-items .burger-menu-item .number {
  color: var(--black);
  font-size: 14px;
  line-height: 20px;
}

.burger-menu-category
  .burger-menu-items
  .burger-menu-item.active
  .item-contant {
  background: linear-gradient(0deg, #005ae2, #005ae2), #548cf5;
}

.burger-menu-category .burger-menu-items .burger-menu-item .text {
  font-size: 16px;
  line-height: 20px;
}

.burger-menu-category .burger-menu-items .burger-menu-item .stroke path {
  stroke: var(--white);
}

.burger .nav-profile-container .nav-profile .nav-profile-info .text_variant_h5 {
  font-size: 17px;
  line-height: 20px;
}

.burger .nav-profile-container .nav-balance,
.profileMenu .nav-container .nav-balance {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 20px;
  background: var(--gradient-yellow);
  height: 90px;
  justify-content: center;
  min-width: 105px;
}

.burger .nav-profile-container .nav-balance .text_variant_subtitle_small {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.08em;
}

.burger .nav-profile-container .nav-balance .text_variant_h3 {
  font-size: 18px;
  line-height: 23px;
  color: var(--yellow);
}

.profileMenu .nav-container .nav-balance .text_variant_h3 {
  color: var(--yellow);
  line-height: 25px;
}

.burger .nav-profile-container > div:first-child {
  justify-content: space-between;
  background: #080707;
}

.burger .nav-profile-container .buttons {
  display: flex;
  gap: 10px;
  padding-right: 13px;
  align-items: center;
}

.burger .nav-profile-container .buttons .wallet {
  min-width: unset;
}

.burger .nav-profile-container .progress {
  color: var(--white);
  background: linear-gradient(180deg, #2f2f2f 0%, rgba(47, 47, 47, 0) 100%);
  display: flex;
  gap: 10px;
  padding: 0px 20px;
  align-items: center;
  flex-grow: 1;
}

.profileMenu .nav-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profileMenu .nav-container .nav-profile {
  display: flex;
  align-items: center;
  width: 200px;
  gap: 10px;
  padding: 19px 10px;
}

.burger .nav-profile-container {
  background: var(--menu);
  display: flex;
  flex-direction: column;
}

.burger .nav-profile-container > div {
  display: flex;
}

.burger .nav-profile-container .nav-profile {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px 10px;
}

.profileMenu .nav-container .nav-profile .nav-avatar,
.burger .nav-profile-container .nav-profile .nav-avatar {
  border-radius: 50%;
  padding: 3px;
  border: 1px solid var(--white);
}

.profileMenu
  .nav-container
  .nav-profile-container
  .nav-profile
  .nav-profile-info,
.burger .nav-profile-container .nav-profile .nav-profile-info {
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.profileMenu .nav-container .nav-profile .nav-profile-info .text,
.burger .nav-profile-container .nav-profile .nav-profile-info .text {
  opacity: 0.5;
}

.profileMenu .nav-container .nav-profile .nav-profile-info > div,
.burger .nav-profile-container .nav-profile .nav-profile-info > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileMenu .nav-container .nav-profile .nav-profile-info a,
.burger .nav-profile-container .nav-profile .nav-profile-info a {
  color: var(--white);
}

.profileMenu .nav-container .nav-profile .nav-profile-info a > .text:last-child,
.burger
  .nav-profile-container
  .nav-profile
  .nav-profile-info
  a
  > .text:last-child {
  opacity: 1;
}

.profileMenu .nav-container .nav-svg {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
}

.profileMenu .nav-container .nav-svg .burger-controls {
  align-items: center;
  gap: 20px;
  display: none;
}

.profileMenu .nav-container .nav-svg .burger-controls .button {
  display: none;
}

.profileMenu .nav-container .nav-logo {
  padding: 18px 0px;
  width: 250px;
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: center;

  background: radial-gradient(
      240.8% 68.41% at -61% -16.08%,
      rgba(135, 144, 153, 0.2) 0%,
      rgba(135, 144, 153, 0) 224%
    )
    rgba(16, 19, 20, 0.5);
}

.profileMenu .nav-container .nav-logo .text_variant_h1_medium {
  display: inline-block;
}

.profileMenu .nav-burger {
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(22, 24, 25, 0.5),
      rgba(22, 24, 25, 0.5)
    ),
    radial-gradient(
      240.8% 68.41% at -61% -16.08%,
      rgba(135, 144, 153, 0.2) 0%,
      rgba(135, 144, 153, 0) 100%
    );
}

.profileMenu .nav-burger .nav-list-item.nav-item-active .nav-tools-item path {
  stroke: var(--white) !important;
}

.profileMenu .nav-burger-container {
  width: 100%;
}

.profileMenu .nav-burger .nav-button-container {
  flex-direction: column;
}

.profileMenu .nav-burger .nav-button-container > div {
  display: flex;
}

.profileMenu .nav-burger .nav-button-container > div:last-child {
  flex-direction: column;
  gap: 20px;
}

.profileMenu .nav-button-container {
  display: flex;
  gap: 10px;
}

.profileMenu
  .nav-burger
  .nav-button-container
  > div:last-child
  > .btn-container {
  width: fit-content;
}

.profileMenu .nav-burger .nav-button-container {
  flex-direction: column;
  gap: 20px;
}

.profileMenu .nav-container .menu-items {
  display: flex;
  gap: 30px;
  height: 100%;
  align-items: center;
  color: var(--white);
  flex-grow: 1;
  justify-content: space-between;
  min-width: fit-content;
}

.profileMenu .nav-container .menu-items-container {
  width: 100%;
  margin-right: -40px;
  padding-right: 40px;
  margin-left: -30px;
  padding-left: 30px;
  overflow-x: scroll;
}

.profileMenu .nav-container .menu-items-container::-webkit-scrollbar {
  display: none;
}

.profileMenu .nav-container .menu-items-container::-webkit-scrollbar-thumb {
  display: none;
}

.profileMenu .nav-container .menu-items .progress {
  padding: 0px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: linear-gradient(180deg, #2f2f2f 0%, rgba(47, 47, 47, 0) 100%);
}

.profileMenu .nav-container .menu-items .progress .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger .nav-profile-container .progress img,
.profileMenu .nav-container .menu-items .progress .info img {
  width: 24px;
  height: 24px;
}

.profileMenu .nav-container .menu-items .progress-bar-container {
  width: 100px;
}

.profileMenu .nav-container .menu-items .profile {
  display: flex;
  gap: 30px;
}

.profileMenu .nav-container .menu-items .menu-second-part {
  display: flex;
  height: 90px;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1439px) {
  .profileMenu .nav-container .nav-profile .nav-profile-info > div {
    gap: 5px;
  }
  .profileMenu .nav-container .nav-logo {
    width: 225px;
  }
  .profileMenu .nav-container .nav-profile {
    gap: 7.5px;
    width: 190px;
  }
}

@media (max-width: 1200px) {
  .profileMenu .burger {
    display: block;
  }
  .profileMenu .nav-container .menu-items-container,
  .profileMenu .nav-container .nav-button-container,
  .profileMenu .nav-container .nav-balance,
  .profileMenu .nav-container .nav-profile {
    display: none;
  }
  .profileMenu .nav-container .nav-logo {
    background: none;
    justify-content: flex-start;
  }

  .profileMenu .nav-container,
  .profileMenu .nav-container .nav-svg {
    width: 100%;
    justify-content: space-between;
  }
  .profileMenu {
    max-height: fit-content;
  }
  .profileMenu .nav-container .nav-svg .burger-controls .button {
    display: block;
  }
  .profileMenu .burger .nav-burger .nav-button-container {
    margin: 15px 0px 50px;
    gap: 50px;
  }

  .burger .nav-profile-container .progress,
  .burger .nav-profile-container .nav-profile {
    padding-left: 40px;
  }
  .burger .nav-profile-container .buttons,
  .burger .nav-profile-container .nav-balance {
    padding-right: 40px;
  }

  .burger .nav-profile-container .nav-balance {
    padding: 15px 40px 15px 20px;
    height: unset;
  }

  .profileMenu .nav-burger .nav-button-container > div .btn-container .button,
  .profileMenu .nav-burger .nav-button-container > div .btn-container {
    width: 100%;
  }
  .profileMenu .nav-container .nav-svg .burger-controls {
    display: flex;
  }
  .profileMenu .nav-container .nav-logo .svgIcon {
    width: 38px !important;
    height: 38px !important;
  }
}

@media (max-width: 834px) {
  .burger .nav-profile-container .progress,
  .burger .nav-profile-container .nav-profile {
    padding-left: 5.25%;
  }

  .burger .nav-profile-container .buttons .currency .show-currency,
  .burger .nav-profile-container .buttons .button {
    width: 40px;
    height: 40px;
  }

  .burger .nav-profile-container .nav-balance {
    padding: 12px 40px 12px 20px;
  }

  .burger .nav-profile-container .buttons .wallet .text {
    display: none;
  }
  .burger .nav-burger-container {
    padding: 0px 5.25%;
  }
  .burger .nav-profile-container .nav-profile .nav-avatar {
    width: 40px;
    height: 40px;
    padding: 1px;
  }
  .burger
    .nav-profile-container
    .nav-profile
    .nav-avatar
    .avatar-container
    .avatar {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 425px) {
  .burger .nav-profile-container .progress,
  .burger .nav-profile-container .nav-profile {
    padding-left: 5.25%;
  }
  .burger .nav-profile-container .buttons,
  .burger .nav-profile-container .nav-balance {
    padding-right: 12px;
  }
}
