.profileMenu {
  top: 0;
  position: sticky;
  z-index: 10;
  max-height: 90px;
  background: var(--menu);
}

.profileMenu .profile-links {
  position: relative;
  background: var(--menu);
  left: 320px;
  width: 210px;
  border-radius: 0px 0px 10px 10px;
}

.profileMenu .profile-links .links {
  padding: 10px 0px;
  text-decoration: none;
}

.profileMenu .profile-links .links a {
  text-decoration: none;
}

.profileMenu .profile-links .links-item > div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  stroke: var(--white);
  color: var(--white);
}

.profileMenu .profile-links .links-item.active > div {
  background: var(--blocks);
}

.profileMenu .burger {
  overflow-y: auto;
}

.profileMenu .dropDown {
  padding: 0;
  border-radius: 0px;
  backdrop-filter: none;
  overflow: hidden;
}

.profileMenu .dropDown.profile-links {
  border-radius: 0px 0px 10px 10px;
}

.profileMenu .nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileMenu .burger {
  overflow-y: auto;
}

.burger .nav-profile-container .nav-balance {
  width: 31.2%;
}

.burger .nav-burger-container nav {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.burger .nav-burger-container > nav > .burger-menu-category {
  display: flex;
  flex-direction: column;
}

.burger-menu-category > .category-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  stroke: var(--white);
  margin-bottom: 20px;
  padding-left: 15px;
}

.burger-menu-category > .category-name .text {
  color: var(--white);
  font-size: 22px;
  line-height: 20px;
}

.burger-menu-category .burger-menu-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.burger-menu-category .burger-menu-items .burger-menu-item {
  display: flex;
  color: var(--white);
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}

.burger-menu-category .burger-menu-items .burger-menu-item .item-contant {
  padding: 10px 15px;
  display: flex;
  gap: 12px;
  width: 100%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.burger-menu-category
  .burger-menu-items
  .burger-menu-item
  .item-contant
  > div:not(.number) {
  display: flex;
  gap: 12px;
}

.burger-menu-category
  .burger-menu-items
  .burger-menu-item
  .item-contant
  .number {
  align-self: flex-end;
}
.burger-menu-category .burger-menu-items .burger-menu-item .number {
  color: var(--black);
  font-size: 14px;
  line-height: 20px;
}

.burger-menu-category
  .burger-menu-items
  .burger-menu-item.active
  .item-contant {
  background: linear-gradient(0deg, #005ae2, #005ae2), #548cf5;
}

.burger-menu-category .burger-menu-items .burger-menu-item .text {
  font-size: 16px;
  line-height: 20px;
}

.burger-menu-category .burger-menu-items .burger-menu-item path {
  fill: var(--white);
  stroke: var(--white);
}

.burger .nav-profile-container .nav-profile .nav-profile-info .text_variant_h5 {
  font-size: 17px;
  line-height: 20px;
}

.burger .nav-profile-container .nav-balance,
.profileMenu .nav-container .nav-balance {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding: 25px 20px 20px;
  background: var(--gradient-yellow);
}

.burger .nav-profile-container .nav-balance .text_variant_subtitle_small {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.08em;
}

.burger .nav-profile-container .nav-balance .text_variant_h3 {
  font-size: 18px;
  line-height: 23px;
  color: var(--yellow);
}

.profileMenu .nav-container .nav-balance .text_variant_h3 {
  color: var(--yellow);
}

.profileMenu .nav-container .nav-profile-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.profileMenu .nav-container .nav-profile-container .nav-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  gap: 10px;
  padding: 19px 10px;
}

.burger .nav-profile-container {
  background: var(--menu);
  display: flex;
}

.burger .nav-profile-container .nav-profile {
  width: 68.8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px 20px;
}

.profileMenu .nav-container .nav-profile-container .nav-profile.active,
.burger .nav-profile-container .nav-profile.active {
  background: var(--gradient-blue);
}

.profileMenu .nav-container .nav-profile-container .nav-profile .nav-avatar,
.burger .nav-profile-container .nav-profile .nav-avatar {
  border-radius: 50%;
  padding: 3px;
  border: 1px solid var(--white);
}

.profileMenu
  .nav-container
  .nav-profile-container
  .nav-profile
  .nav-profile-info,
.burger .nav-profile-container .nav-profile .nav-profile-info {
  color: var(--white);
  stroke: var(--white);
}

.profileMenu
  .nav-container
  .nav-profile-container
  .nav-profile
  .nav-profile-info
  .text,
.burger .nav-profile-container .nav-profile .nav-profile-info .text {
  opacity: 0.5;
}

.profileMenu
  .nav-container
  .nav-profile-container
  .nav-profile
  .nav-profile-info
  > div,
.burger .nav-profile-container .nav-profile .nav-profile-info > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profileMenu
  .nav-container
  .nav-profile-container
  .nav-profile
  .nav-profile-info
  > div
  .text,
.burger .nav-profile-container .nav-profile .nav-profile-info > div .text {
  opacity: 1;
}

.profileMenu .nav-container .nav-svg {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
}

.profileMenu .nav-container .nav-svg .burger-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileMenu .nav-container .nav-svg .burger-controls .button {
  display: none;
}

.profileMenu .nav-container .nav-logo {
  padding: 18px 0px;
  width: 250px;
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: center;

  background: radial-gradient(
      240.8% 68.41% at -61% -16.08%,
      rgba(135, 144, 153, 0.2) 0%,
      rgba(135, 144, 153, 0) 224%
    )
    rgba(16, 19, 20, 0.5);
}

.profileMenu .nav-container .nav-logo .text_variant_h1_medium {
  display: inline-block;
}

.profileMenu .nav-burger {
  flex-direction: column;
  background: linear-gradient(
      0deg,
      rgba(22, 24, 25, 0.5),
      rgba(22, 24, 25, 0.5)
    ),
    radial-gradient(
      240.8% 68.41% at -61% -16.08%,
      rgba(135, 144, 153, 0.2) 0%,
      rgba(135, 144, 153, 0) 100%
    );
}

.profileMenu .nav-burger .nav-list-item.nav-item-active .nav-tools-item path {
  stroke: var(--white) !important;
}

.profileMenu .nav-burger-container {
  width: 100%;
}

.profileMenu .nav-burger .nav-button-container {
  flex-direction: column;
}

@media (max-width: 1439px) {
  .profileMenu
    .nav-container
    .nav-profile-container
    .nav-profile
    .nav-profile-info
    > div {
    gap: 5px;
  }
  .profileMenu .profile-links {
    width: 200px;
    left: 295px;
  }
  .profileMenu .nav-container .nav-logo {
    width: 225px;
  }
  .profileMenu .nav-container .nav-profile-container {
    gap: 20px;
  }
  .profileMenu .nav-container .nav-profile-container .nav-profile {
    gap: 7.5px;
    width: 200px;
    margin-left: 10px;
  }
}

@media (max-width: 1024px) {
  .profileMenu .profile-links {
    width: 190px;
    left: 270px;
  }
  .profileMenu .nav-container .nav-logo {
    width: 200px;
  }
  .profileMenu .nav-container .nav-profile-container {
    gap: 10px;
  }
  .profileMenu .nav-container .nav-profile-container .nav-profile {
    gap: 5px;
    width: 190px;
    margin-left: 20px;
  }
}

@media (max-width: 834px) {
  .profileMenu .nav-container .nav-logo {
    background: none;
    justify-content: flex-start;
  }
  .profileMenu .profile-links,
  .profileMenu .nav-container .nav-button-container,
  .profileMenu .nav-container .nav-profile-container .nav-balance,
  .profileMenu .nav-container .nav-profile-container .nav-profile {
    display: none;
  }
  .profileMenu .burger .profile-links {
    display: block;
    width: 100%;
    left: 0px;
    border-radius: 0px;
  }
  .profileMenu .nav-container .nav-profile-container,
  .profileMenu .nav-container .nav-profile-container .nav-svg {
    width: 100%;
    justify-content: space-between;
  }
  .profileMenu {
    max-height: fit-content;
  }
  .profileMenu .nav-container .nav-svg .burger-controls .button {
    display: block;
  }
  .profileMenu .burger .nav-burger .nav-button-container {
    margin: 20px 0px 40px;
    gap: 80px;
  }
  .profileMenu .profile-links .links-item > div {
    padding: 5px 10px 5px 5.25%;
  }
  .burger .nav-profile-container .nav-profile {
    padding-left: 5.25%;
  }

  .profileMenu .profile-links .links-item > div .text {
    font-size: 16px;
  }
}
