.reset-password {
  position: relative;
  padding-top: 140px;
  padding-bottom: 180px;
  display: flex;
  justify-content: center;
  color: var(--white);
}

.reset-password .reset-password-background {
  position: absolute;
  background-image: url(/public/images/Backgrounds/orderDetail.png);
  background-size: cover;
  width: 100%;
  height: calc(100% + 60px);
  top: -60px;
  left: 0px;
}

.reset-password .block {
  width: 49%;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 50px;
}

.reset-password .block .reset-password-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reset-password .block .reset-password-input .text {
  opacity: 0.75;
}

.reset-password .block .reset-password-input input {
  font-family: "Space Grotesk Light";
}

.reset-password .block > .text:first-child {
  margin-bottom: 40px;
}

.reset-password .block .btn-container {
  margin-top: 80px;
  align-self: center;
  width: 270px;
}

.reset-password .block .btn-container .button {
  width: 100%;
}

@media (max-width: 1439px) {
  .reset-password .block {
    width: 60%;
  }
  .reset-password .block .btn-container {
    margin-top: 70px;
  }
}

@media (max-width: 1024px) {
  .reset-password .block .top .svgIcon {
    width: 70px !important;
    height: 70px !important;
  }
  .reset-password {
    padding-top: 100px;
  }
  .reset-password .block {
    width: 72.5%;
  }
  .reset-password .block .btn-container {
    margin-top: 60px;
  }
  .reset-password .block > .text:first-child {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

@media (max-width: 834px) {
  .reset-password {
    padding-top: 70px;
  }
  .reset-password .block {
    width: 87.5%;
    padding: 30px 20px 50px;
  }
  .reset-password .block .btn-container {
    margin-top: 50px;
    width: 100%;
  }
  .reset-password .block > .text:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .reset-password {
    padding-top: 30px;
  }
  .reset-password .block {
    width: 100%;
  }
  .reset-password .block .btn-container {
    font-size: 34px;
    margin-top: 40px;
  }
}
