.account {
  display: flex;
  flex-direction: column;
}

.account .text {
  color: var(--white);
}

.account .account-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
  gap: 30px;
}

.account .account-categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.account .text.text_variant_h1_medium {
  margin-top: 30px;
  margin-bottom: 20px;
}

.account .gender {
  padding: 20px 25px;
  display: flex;
}

.account .password,
.account .time-zone-api-key {
  display: flex;
  gap: 20px;
  padding: 25px 25px 40px;
}

.account .gender,
.account .password,
.account .time-zone-api-key {
  flex-direction: column;
}

.account .gender {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 23%;
}

.account .password,
.account .time-zone-api-key {
  width: 49%;
}

.account .avatars {
  padding: 20px 5px 20px 25px;
  display: flex;
  width: 75%;
}

.account .avatars .avatar-select-container {
  margin: 0px 40px;
  width: 100%;
  display: flex;
}

.account .avatars .avatar-select-container .avatar-select {
  width: 20%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.account .avatars .avatar-select-container .avatar-select .avatar-container {
  width: 100%;
}

.account .avatars .avatar-select-container .avatar-select .add-new-avatar {
  border-radius: 50%;
  width: 98px;
  height: 98px;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .avatars .avatar-select-container .avatar-imgs {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  justify-content: space-between;
}

.account .avatars .avatar-current {
  display: flex;
  flex-direction: column;
}

.account .avatars .avatar-current .avatar {
  margin-top: 10px;
}

.account .avatars .avatar-container {
  display: flex;
  justify-content: center;
  width: 25%;
}

.account .avatars .avatar-container .avatar-border {
  border-radius: 50%;
  border: 2px solid var(--yellow);
  padding: 2px;
}

.account .gender .select-gender {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account .time-zone-api-key .time-api-input .text.text_variant_h3,
.account .password .password-input .text.text_variant_h3 {
  opacity: 0.75;
  margin-bottom: 5px;
}

.account .time-zone-api-key .inputs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.account .time-zone-api-key .inputs-container > div {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account .button-container {
  margin-top: 20px;
  align-self: center;
  width: 245px;
}

@media (max-width: 1439px) {
  .account .avatars .avatar-select-container .avatar-select .add-new-avatar {
    width: 86px;
    height: 86px;
  }
  .account .avatars .avatar-select-container {
    margin: 0px 20px;
  }
  .account .avatars .avatar-select-container .avatar-imgs {
    width: 75%;
    gap: 1px;
    row-gap: 12px;
    justify-content: flex-start;
  }
  .account .avatars .avatar-select-container .avatar-select {
    width: 25%;
    justify-content: flex-start;
  }
  .account .avatars .avatar-container {
    width: 33%;
  }
}

@media (max-width: 1024px) {
  .account .avatars .avatar-container .avatar-border {
    border: 2px solid var(--yellow);
    padding: 1px;
  }
  .account .avatars .avatar-select-container .avatar-select .add-new-avatar {
    width: 74px;
    height: 74px;
  }
  .account
    .avatars
    .avatar-select-container
    .avatar-select
    .add-new-avatar
    .svgIcon {
    width: 22.5px !important;
    height: 22.5px !important;
  }
}

@media (max-width: 834px) {
  .account .avatars .avatar-select-container .avatar-select {
    width: 20%;
  }

  .account .avatars .avatar-select-container .avatar-select .avatar-container {
    width: 100%;
  }

  .account .avatars .avatar-select-container .avatar-imgs {
    width: 80%;
    gap: 0px;
    row-gap: 12px;
  }

  .account .avatars .avatar-container {
    width: 25%;
  }

  /* .account .avatars .avatar-container .avatar-border {
    width: 80%;
    height: fit-content;
  } */

  .account .avatars .avatar-select-container .avatar-select .add-new-avatar {
    width: 62px;
    height: 62px;
  }

  .account .account-container {
    padding-bottom: 120px;
  }

  .account .account-categories {
    flex-direction: column;
    gap: 30px;
  }

  .account .avatars .avatar-current,
  .account .avatars,
  .account .gender,
  .account .password,
  .account .time-zone-api-key {
    width: 100%;
  }

  .account .avatars {
    flex-direction: column;
    padding: 25px 20px 35px;
  }

  .account .avatars .avatar-select-container {
    margin: 20px 0px 0px 0px;
  }

  .account .avatars .avatar-current .avatar {
    align-self: center;
  }

  .account .time-zone-api-key .inputs-container {
    gap: 45px;
  }

  .account .button-container {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .account .avatars .avatar-container .avatar-border {
    border: 1px solid var(--yellow);
  }

  .account .avatars .avatar-select-container .avatar-select .add-new-avatar {
    width: 50px;
    height: 50px;
  }

  .account
    .avatars
    .avatar-select-container
    .avatar-select
    .add-new-avatar
    .svgIcon {
    width: 15px !important;
    height: 15px !important;
  }
}
