/* default table and table-variant-ranks*/

.table {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
}

.table .table-hr {
  transition: var(--transition-property) 0s var(--transition-function);
  margin: 0px;
  border: none;
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.table .table-separators {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  z-index: 0;
}

.table .table-small-header [class*="table-column-cell"],
.table .table-header [class*="table-column-cell"] {
  color: var(--white);
  opacity: 0.5;
}

.table .table-header [class*="table-column-cell"] .text {
  padding-left: 20px;
  padding-bottom: 10px;
}

.table .table-separators [class*="table-column-cell"] {
  display: flex;
  justify-content: flex-end;
}

.table .table-separators [class*="table-column-cell"] hr {
  margin: 0px;
  border: none;
  width: 1px;
  height: 100%;

  background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.table.table-variant-ranks .table-header .table-column-cell,
.table.table-variant-ranks .table-separators .table-column-cell {
  width: 50%;
}

.table .table-content,
.table .table-header {
  position: relative;
  z-index: 1;
}

.table .table-content,
.table .table-content .table-row {
  flex-direction: column;
}

.table.table-variant-ranks .table-row-content,
.table .table-separators,
.table .table-content .table-row,
.table .table-header {
  display: flex;
}

.table .table-content .table-row .table-small-row-content {
  display: none;
}

.table .table-content .table-row .table-row-border {
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 53.13%,
    rgba(255, 255, 255, 0) 100%
  );
}

.table.table-variant-ranks .table-row .table-row-cell {
  width: 50%;
}

.table .table-row [class*="table-row-cell"] .text {
  padding: 15px 0px 15px 20px;
  color: var(--white);
}

/* ---------------------------------------------------- */

/* default table and table-variant-redeem */
.table.table-variant-redeem {
  margin: 0px 20px;
}

.table.table-variant-redeem .table-row-content {
  display: flex;
}

.table.table-variant-redeem .table-header .table-column-cell-1,
.table.table-variant-redeem .table-separators .table-column-cell-1,
.table.table-variant-redeem .table-row-content .table-row-cell-1 {
  width: 19.41%;
}

.table.table-variant-redeem .table-header .table-column-cell-2,
.table.table-variant-redeem .table-separators .table-column-cell-2,
.table.table-variant-redeem .table-row-content .table-row-cell-2 {
  width: 24.27%;
}

.table.table-variant-redeem .table-header .table-column-cell-3,
.table.table-variant-redeem .table-separators .table-column-cell-3,
.table.table-variant-redeem .table-row-content .table-row-cell-3,
.table.table-variant-redeem .table-header .table-column-cell-4,
.table.table-variant-redeem .table-separators .table-column-cell-4,
.table.table-variant-redeem .table-row-content .table-row-cell-4 {
  width: 29.12%;
}

.table.table-variant-redeem .table-small-row-content .table-row-cell-4 .text,
.table.table-variant-redeem .table-row-content .table-row-cell-4 .text {
  color: var(--yellow) !important;
}

@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
  .table .table-row [class*="table-row-cell"] .text {
    padding: 15px;
  }
  .table .table-header [class*="table-column-cell"] .text {
    padding-left: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 834px) {
  .table .table-row [class*="table-row-cell"] .text {
    padding: 15px 10px;
  }
  .table .table-header [class*="table-column-cell"] .text {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .table {
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
  }
  .table.table-variant-redeem {
    margin: 0px;
  }
  .table .table-content {
    width: 100%;
  }

  .table .table-content .table-row .table-row-content,
  .table .table-header,
  .table .table-separators {
    display: none;
  }

  .table .table-content .table-row .table-small-row-content {
    display: flex;
    height: 200px;
  }

  .table .table-content .table-row .table-small-row-content > div {
    display: flex;
    flex-direction: column;
  }

  .table .table-small-header {
    padding: 0px 5px 0px 30px;
  }
  .table .table-small-row {
    padding: 0px 5px 0px 20px;
  }

  .table.table-variant-redeem .table-small-header {
    width: 44.2%;
  }
  .table.table-variant-redeem .table-small-row {
    width: 55.8%;
  }
  .table.table-variant-redeem .table-small-header > *,
  .table.table-variant-redeem .table-small-row > * {
    height: 25%;
    display: flex;
    align-items: center;
  }

  .table.table-variant-redeem .table-small-row-content .text {
    font-size: 14px;
    line-height: 20px;
  }

  .table .table-hr {
    position: absolute;
    width: 1px;
    height: 99%;
  }

  .table.table-variant-redeem .table-hr {
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    left: 44.2%;
  }
  .table .table-row [class*="table-row-cell"] .text {
    padding: 0px;
  }
}
