.orders {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 210px;
}

.orders .text.text_variant_h1_medium {
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--white);
}

@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
  .orders {
    margin-bottom: 165px;
  }
  .orders .text.text_variant_h1_medium {
    margin-top: 35px;
    margin-bottom: 25px;
  }
}

@media (max-width: 834px) {
}

@media (max-width: 425px) {
  .orders {
    margin-bottom: 120px;
  }
  .orders .text.text_variant_h1_medium {
    margin-top: 40px;
    margin-bottom: 15px;
  }
}
