.accountCard {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 140px;
  border-radius: 10px;
  background: var(--gradient-account-card);
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  border: 1px solid;
  padding: 5px;
  border-image-source: radial-gradient(
    161.28% 137.14% at -23.2% -37.14%,
    rgba(255, 255, 255, 0.37) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  color: var(--white);
}
.accountCard .text {
  opacity: 0.5;
}

.accountCard.active,
.accountCard:hover {
  background: radial-gradient(
      169.8% 157.07% at 58.4% 198.93%,
      #4ce5bf 0%,
      rgb(145 89 251 / 13%) 100%
    ),
    radial-gradient(
      104.11% 155.86% at 108% 0.14%,
      #286b7f 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(0deg, rgba(217, 217, 217, 0.01), rgba(217, 217, 217, 0.01)),
    radial-gradient(
      103.28% 84.14% at 51.8% 102.86%,
      rgba(255, 255, 255, 0.37) 0%,
      rgba(255, 255, 255, 0.02) 100%
    );
}
.accountCard.active .text,
.accountCard:hover .text {
  opacity: 1;
}

.accountCard_variant_large {
  width: 23.5%;
  flex-grow: 1;
}

.accountCard_variant_small {
  width: 18%;
  flex-grow: 1;
}

.question {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media (max-width: 1439px) {
  .accountCard_variant_small {
    width: 32%;
  }
}

@media (max-width: 1024px) {
  .accountCard {
    height: 158px;
  }
  .accountCard .text {
    font-size: 19px;
    line-height: 28px;
  }
  .accountCard .question .svgIcon {
    width: 25px !important;
    height: 25px !important;
  }
  .accountCard_variant_large {
    width: 32%;
  }
  .accountCard_variant_small {
    width: 48%;
  }
}

@media (max-width: 834px) {
  .accountCard .question .svgIcon {
    width: 30px !important;
    height: 30px !important;
  }
  .accountCard_variant_large {
    width: 48%;
  }
}

@media (max-width: 670px) {
  .accountCard_variant_large {
    padding: 5px 52px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .accountCard {
    height: 176px;
  }
  .accountCard .text {
    font-size: 20px;
    line-height: 26px;
  }
  .accountCard .question .svgIcon {
    width: 35px !important;
    height: 35px !important;
  }
  .accountCard_variant_small {
    padding: 5px 65px;
    width: 100%;
  }
}
