.profile-container .faq-title.text {
  font-family: "Space Grotesk";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;
}

.faq-title.text {
  font-family: "Circe";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 100px;
}

.profile-container .faq-info-container {
  padding-bottom: 210px;
  margin-top: 20px;
}

.faq-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 150px;
}

.faq-info-container .faq-info {
  width: 49%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.faq-info-container .faq-info .faq-accordion {
  height: fit-content;
}

.faq-info .svgIcon {
  stroke: var(--white) !important;
}

@media (max-width: 1439px) {
  .faq-title.text {
    font-size: 35px;
    line-height: 45px;
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  .faq-title.text {
    font-size: 35px;
    line-height: 45px;
    margin-top: 65px;
  }
  .profile-container .faq-info-container {
    flex-direction: column;
    row-gap: 10px;
  }
  .profile-container .faq-info-container .faq-info {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .faq-info-container {
    margin-top: 25px;
    padding-bottom: 135px;
  }
}

@media (max-width: 834px) {
  .faq-title.text {
    font-size: 35px;
    line-height: 45px;
    margin-top: 50px;
  }

  .faq-info-container {
    flex-direction: column;
    row-gap: 10px;
  }

  .faq-info-container .faq-info {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .faq-title.text {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
  }
  .faq-info-container {
    margin-top: 15px;
    padding-bottom: 120px;
  }
}
