.slider {
  position: relative;
  display: flex;
  color: var(--white);
  gap: 80px;
  padding-top: 220px;
  height: 100%;
}

.slider.sm {
  padding-top: 130px;
  margin-bottom: 90px;
}

.slider-description {
  font-family: "Circe Medium";
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: var(--white);
  position: absolute;
  top: 170px;
}

.slider-tools {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0px;
}

.slider-tools.sm {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 90px;
}

.slider-tools .sticks-container {
  margin: 0px 20px;
  display: flex;
  gap: 8px;
}

.slider-tools .sticks-container hr {
  width: 12px;
  height: 2px;
  border: none;
  background: var(--white);
  opacity: 0.5;
}

.slider-tools .sticks-container hr.active {
  opacity: 1;
}

.slider-tools .button {
  padding: 0px 16px;
  min-width: 0px !important;
}

.slider-tools path {
  stroke: var(--white) !important;
}

.slider-tools .button:active path {
  stroke: var(--black) !important;
}

.slider-tools .button:active rect {
  fill: var(--black) !important;
}

.slider-card {
  min-width: 924px;
  min-height: 520px;
  position: relative;
  justify-content: space-between;
  display: flex;
}

.slider.sm .slider-card {
  min-width: 875px;
  min-height: 444px;
  position: relative;
  justify-content: space-between;
  display: flex;
}

.slider-card [class*="slider-img"] {
  position: relative;
  width: 47%;
  display: flex;
}

.slider-card .slider-img-lg > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: right;
}

.slider-card .slider-img-sm > div {
  display: flex;
  flex-direction: column;
  width: 83%;
  text-align: right;
}

.slider-card .slider-img-lg > div > img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-card .slider-img-sm > div > img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider-card [class*="slider-img"] .img-number {
  font-family: "Space Grotesk Light";
  font-weight: 300;
  font-size: 36px;
  line-height: 50px;
}

.slider-card [class*="slider-img"] .light-number {
  z-index: -1;
  top: -75px;
  right: -75px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.25;
  width: 200px;
  height: 200px;
  background: radial-gradient(
      320.79% 1364.25% at -189.5% 317.5%,
      #ffffff 0%,
      #85f7e2 67.58%,
      #ffb60e 84.2%
    ),
    linear-gradient(46.15deg, #03d1a0 14.31%, rgba(121, 57, 216, 0) 89.33%),
    #1f4fd7;
  filter: blur(40px);
}

.slider-card .slider-img-lg .img-background {
  position: relative;
  z-index: -2;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 90%;
  background: radial-gradient(
    177.62% 155.42% at 88.21% -61.04%,
    #ffffff 0%,
    #85f7e2 47.4%,
    #ffb60e 100%
  );
}

.slider-card .slider-img-sm .img-background {
  position: relative;
  z-index: -2;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    177.62% 155.42% at 88.21% -61.04%,
    #ffffff 0%,
    #85f7e2 47.4%,
    #ffb60e 100%
  );
}

.slider-card [class*="slider-img"] .lines {
  background-image: url("/public/images/Home/Line\ 2.png");
  background-position: top;
  width: 100%;
  height: 100%;
}

.slider-card [class*="slider-img"] hr {
  border: none;
  width: 1px;
  height: 65%;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 91.67%
  );
  margin-left: 20px;
}

.slider-card .slider-img-sm hr {
  margin-right: 0px;
}

.slider-card .info {
  width: 47%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.slider-card .info .description {
  color: #dae9ff;
  font-weight: 400;
  margin-bottom: 25px;
  opacity: 0.75;
}

.slider-card.active .info .description {
  color: #d0dee5;
  opacity: 1;
}

.slider-card .info .link .text {
  color: #91f2cf;
}

.slider-card .info .link hr {
  margin: 8px 0px;
  opacity: 0.5;
  border: 1px solid #91f2cf;
  width: 175px;
}

.slider-card .info > .text:first-child {
  font-family: "Circe ExtraBold";
  font-weight: 800;
  font-size: 66px;
  line-height: 60px;
  margin-bottom: 15px;
  opacity: 0.75;
}

.slider.sm .slider-card .info > .text:first-child {
  font-family: "Circe ExtraBold";
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 15px;
  opacity: 0.75;
}

.slider-card.active .info > .text:first-child {
  opacity: 1;

  background: var(--gradient-green-yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 1439px) {
  .slider-card .info > .text:first-child {
    font-size: 61px;
    line-height: 62px;
  }

  .slider.sm .slider-card .info > .text:first-child {
    font-size: 48px;
    line-height: 58px;
  }
}

@media (max-width: 1024px) {
  .slider-card .info > .text:first-child {
    font-size: 56px;
    line-height: 64px;
  }

  .slider.sm .slider-card .info > .text:first-child {
    font-size: 46px;
    line-height: 56px;
  }

  .slider-card .slider-img-lg > div > img {
    height: 400px;
  }

  .slider-card .slider-img-lg .img-background {
    height: 90%;
  }

  .slider-card .slider-img {
    width: 61%;
  }

  .slider-card .info {
    width: 37%;
  }

  .slider-card {
    min-width: 700px;
    min-height: 470px;
  }

  .slider.sm .slider-card {
    min-width: 760px;
    min-height: 455px;
  }

  .slider.sm .slider-card .info {
    width: 50%;
  }

  .slider-card .slider-img-sm > div > img {
    height: 430px;
  }
}

@media (max-width: 834px) {
  .slider-card .info > .text:first-child {
    font-size: 51px;
    line-height: 66px;
  }

  .slider.sm .slider-card .info > .text:first-child {
    font-size: 44px;
    line-height: 54px;
    margin-top: 30px;
  }

  .slider-card [class*="slider-img"] {
    width: 100%;
  }

  .slider-card .slider-img hr {
    margin-right: 0px;
  }

  .slider-card .slider-img > div {
    position: relative;
  }

  .slider-card [class*="slider-img"] > div > img {
    position: inherit;
    height: 508px;
    width: 97%;
  }

  .slider-card .slider-img-lg .img-background {
    position: absolute;
    bottom: 0px;
    width: 94%;
    height: 84%;
  }

  .slider-tools {
    bottom: 550px;
  }

  .slider-card {
    min-width: 390px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .slider-card .reverse {
    flex-direction: column-reverse;
  }

  .slider-card .info {
    height: 380px;
    width: 100%;
  }

  .slider-tools.sm {
    bottom: 60px;
  }

  .slider.sm .slider-card {
    min-width: 390px;
    width: 100%;
    flex-direction: column-reverse;
  }

  .slider-card .slider-img-sm {
    justify-content: center;
  }

  .slider.sm .slider-card .info {
    width: 100%;
    height: 325px;
    justify-content: flex-start;
  }

  .slider-card .slider-img-sm .img-background {
    position: absolute;
    bottom: 0px;
    width: 81%;
    height: 85%;
  }

  .slider-card .slider-img-sm > div {
    width: 81%;
  }

  .slider-card .slider-img-sm > div > img {
    height: 420px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .slider-card .info > .text:first-child {
    font-size: 46px;
    line-height: 68px;
    margin-top: 30px;
  }

  .slider.sm .slider-card .info > .text:first-child {
    font-size: 42px;
    line-height: 52px;
    margin-top: 30px;
  }

  .slider-card [class*="slider-img"] hr {
    display: none;
  }

  .slider-card [class*="slider-img"] > div > img {
    height: 375px;
  }

  .slider-card {
    min-width: 296px;
  }

  .slider {
    padding-left: 0;
  }

  .slider-tools {
    bottom: 430px;
  }

  .slider-card .info {
    justify-content: flex-start;
  }

  .slider.sm .slider-card {
    min-width: 296px;
  }

  .slider-card .slider-img-sm {
    justify-content: flex-start;
  }

  .slider-card .slider-img-sm > div {
    width: 100%;
  }

  .slider-card [class*="slider-img"] .img-background {
    width: 296px;
  }
}
